# Basic
ODR_ALLOWED_HOSTS=
ODR_DEBUG=
ODR_DJANGO_SECRET_KEY=
ODR_MEDIA_ROOT=
ODR_BASE_URL=

# Database
ODR_POSTGRES_HOST=
ODR_POSTGRES_DATABASE=
ODR_POSTGRES_USER=
ODR_POSTGRES_PASSWORD=
ODR_POSTGRES_PORT=

# Redis URL
ODR_REDIS_URL=redis://127.0.0.1:6379

ODR_DISCOUNT_FEE=40
ODR_DISCOUNT_FEE_APPLICABLE_ON=500


# Cloudinary
ODR_CLOUDINARY_NAME=
ODR_CLOUDINARY_KEY=
ODR_CLOUDINARY_SECRET=
