////:root {
////  --ar-darker-secondary: rgb(174, 174, 178);
////  --ar-lighter-primary: #4eaaff;
////}
$primary: #4b566b;
.image-radio:checked + span {
  color: $primary;
  border: 1px solid $primary;

  i {
    color: $primary;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.is-20 {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.icon-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 3 / 2;

  & img {
    max-width: 4rem;
  }
}

.img-small {
  max-width: 100px;
}

.btn-icon {
  i:not(.fa-spinner)::after {
    content: "\00a0";
  }
}

.btn-icon-left {
  span::after {
    content: "\00a0";
  }
}

.letter-spacing {
  &-1 {
    letter-spacing: 1px;
  }

  &-2 {
    letter-spacing: 2px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 5s ease-out;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

.on-board-card {
  margin: auto;
  max-width: 640px;
}

.on-board-bg {
  min-height: 100vh;
}

.blur-text {
  h6,
  .small {
    filter: blur(4px);
  }
  i {
    filter: blur(2px);
  }
}

@media (width > 991px) {
  .nav-lists {
    width: 100%;
    justify-content: flex-end;
  }
}

.table > :not(:first-child) {
  border-top: none !important;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: transparent;
}

.table {
  border: 1px solid #e5eaf0;

  thead {
    th {
      border-bottom: 1px solid #e5eaf0 !important;
    }
  }
}

.select-cross {
  position: absolute;
  right: 2.5em;
  top: 10px;
  z-index: 99;
}

#qr-code-full-region__scan_region {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#html5-qrcode-button-camera-permission,
#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop,
#html5-qrcode-button-file-selection {
  color: #ffffff;
  background-color: #4b566b;
  border: 1px solid transparent;
  padding: 0.625rem 1.375rem;
  font-size: 0.9375rem;
  border-radius: 0.3125rem;
  margin: 15px 0;
}

#qr-code-full-region__scan_region {
  aspect-ratio: 1;
}

.w {
  width: 100%;

  &-450 {
    max-width: 450px;
  }

  &-150 {
    max-width: 150px;
    min-width: 150px;
  }
}

.fas,
.svg-inline--fa {
  min-width: 12px;
  min-height: 12px;
}

.min-w-200 {
  min-width: 200px;
}

.max-w-150 {
  width: 100%;
  max-width: 150px;
}

.summary-table {
  & tr:last-child {
    font-weight: 500;
  }
  & td {
    padding: 4px 0;

    &:last-child {
      text-align: right;
      font-weight: 500;
    }
  }
}

.summary-strip {
  height: 0;
  background-color: transparent;
  opacity: 0.75;
  border-top: 2px dashed #9e9e9e;
}
